{{ block "page" . }}
<div class="w-full md:flex-1">
  <div class="flex gap-4">
    <a
      href="/{{ .Locale }}/components/polygon"
      hx-boost="true"
      hx-target="#page"
      class="flex items-center justify-center"
    >
      <img src="/public/left-arrow.svg" alt="Left arrow" class="w-5" />
    </a>
    <h3 class="text-gray-700 text-3xl font-medium">{{ translate "COMPONENTS.EDIT_POLYGON" }}</h3>
  </div>
  <div class="mt-6">
    <form class="group">
      {{ block "polygonbox_form" .Polygon }}
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="serial">
          {{ translate "GENERAL.SERIAL" }}
        </label>
        <input
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          id="serial"
          value="{{ .Serial }}"
          type="text"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="type"
          >{{ translate "GENERAL.TYPE" }}</label
        >
        <input
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          id="type"
          value="{{ .Type }}"
          type="text"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="type"
          >{{ translate "GENERAL.SIZE" }}</label
        >
        <input
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          id="type"
          value="{{ .Size }}"
          type="text"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="backlash"
          >{{ translate "GENERAL.MEASURE1" }}</label
        >
        <input
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          id="backlash"
          value="{{ .Measure1 }}"
          type="text"
          inputmode="numeric"
          pattern="[0-9.-]*"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="backlash"
          >{{ translate "GENERAL.MEASURE2" }}</label
        >
        <input
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          id="backlash"
          value="{{ .Measure2 }}"
          type="text"
          inputmode="numeric"
          pattern="[0-9.-]*"
        />
      </div>
      {{ end }}
      <div class="flex items-end justify-end">
        <a
          href="/{{ .Locale }}/components/polygon"
          hx-boost="true"
          hx-target="#page"
          class="cursor-pointer border rounded-md text-sm font-medium group-invalid:pointer-events-none group-invalid:opacity-50 h-10 px-4 py-2"
          type="submit"
        >
          Save
        </a>
      </div>
    </form>
  </div>
</div>
{{ end }}
