{{ block "page" . }}
<div class="flex flex-row gap-4">
  {{ template "submenu" .}} {{ block "content" . }}
  <div>
    <h1>{{ translate "COMPONENTS.POLYGON_COMPONENTS" }}</h1>
    <div class="pt-6 overflow-x-auto">
      <div class="relative w-full overflow-auto">
        <table>
          <thead>
            <tr>
              <th>
                <input aria-label="select or deselect all elements" type="checkbox" />
              </th>
              <th>{{ translate "GENERAL.SERIAL"}}</th>
              <th class="hidden md:table-cell">{{ translate "GENERAL.TYPE"}}</th>
              <th class="hidden md:table-cell">{{ translate "GENERAL.SIZE"}}</th>
              <th class="hidden md:table-cell">{{ translate "GENERAL.MEASURE1"}}</th>
              <th class="hidden md:table-cell">{{ translate "GENERAL.MEASURE2"}}</th>
              <th aria-label="edit row"></th>
            </tr>
          </thead>
          <tbody>
            {{ range $polygon:= .Polygons }}
            <tr>
              <td>
                <input aria-label="select row" type="checkbox" />
              </td>
              <td>{{ $polygon.Serial }}</td>
              <td class="hidden md:table-cell">{{ $polygon.Type }}</td>
              <td class="hidden md:table-cell">{{ $polygon.Size }}</td>
              <td class="hidden md:table-cell">{{ number $polygon.Measure1 }}</td>
              <td class="hidden md:table-cell">{{ number $polygon.Measure2 }}</td>
              <td
                class="cursor-pointer"
                hx-get="/{{ $.Locale }}/components/polygon/{{ $polygon.ID }}"
                hx-trigger="click"
                hx-target="#page"
                hx-push-url="true"
              >
                <img src="/public/right-arrow.svg" alt="Right arrow" class="w-5" />
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
        <div class="mt-6 flex justify-center">
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2 border">
            {{ translate "GENERAL.PREVIOUS" }}
          </button>
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2">1</button>
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2 border">
            2
          </button>
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2 border">
            3
          </button>
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2 border">
            {{ translate "GENERAL.NEXT" }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>
{{ end }}
