{{ block "page" . }}
<div class="w-full flex flex-row gap-4">
  {{ block "content" . }}
  <div class="w-full">
    <h1>{{ translate "GEARBOXES.TITLE"}}</h1>
    <div class="pt-6 overflow-x-auto">
        <table class="w-full">
          <thead>
            <tr>
              <th>
                <input aria-label="select or deselect all elements" type="checkbox" />
              </th>
              <th>{{ translate "GENERAL.SERIAL"}}</th>
              <th class="hidden md:table-cell">{{ translate "GENERAL.TYPE"}}</th>
              <th class="hidden md:table-cell">{{ translate "GENERAL.BACKLASH"}}</th>
              <th class="hidden md:table-cell">{{ translate "GENERAL.HOUSING"}}</th>
              <th class="hidden md:table-cell">{{ translate "GENERAL.POLYGON"}}</th>
              <th class="hidden md:table-cell">{{ translate "GENERAL.GEAR"}}</th>
              <th aria-label="edit row"></th>
            </tr>
          </thead>
          <tbody>
            {{ range $gearbox := .Gearboxes }}
            <tr>
              <td>
                <input aria-label="select row" type="checkbox" />
              </td>
              <td>{{ .Serial }}</td>
              <td class="hidden md:table-cell">{{ $gearbox.Type }}</td>
              <td class="hidden md:table-cell">{{ number $gearbox.Backlash }}</td>
              <td class="hidden md:table-cell">{{ $gearbox.Housing }}</td>
              <td class="hidden md:table-cell">{{ $gearbox.Polygon }}</td>
              <td class="hidden md:table-cell">{{ $gearbox.Gear }}</td>
              <td
                class="cursor-pointer"
                hx-get="/{{ $.Locale }}/gearboxes/{{ $gearbox.ID }}"
                hx-trigger="click"
                hx-target="#page"
                hx-push-url="true"
              >
                <img src="/public/right-arrow.svg" alt="Right arrow" class="w-5" />
              </td>
            </tr>
            {{ end }}
          </tbody>
        </table>
        <div class="mt-6 flex justify-center">
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2 border">
            {{ translate "GENERAL.PREVIOUS" }}
          </button>
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2">1</button>
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2 border">
            2
          </button>
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2 border">
            3
          </button>
          <button class="text-center rounded-md text-sm font-medium h-10 px-4 py-2 mx-2 border">
            {{ translate "GENERAL.NEXT" }}
          </button>
        </div>
      </div>
  </div>
      <div>
        <!-- <form class="flex flex-col gap-2" hx-boost="true" hx-params="Serial" hx-target="#page" hx-get="/{{ .Locale }}/gearboxes" hx-vals='{"hello":"world"}'> -->
        <form class="flex flex-col gap-2" hx-boost="true" hx-target="#page" hx-post="/{{ .Locale }}/gearboxes" hx-vals='{"hello":"world"}'>
        <!-- <form class="flex flex-col gap-2" hx-boost="true" hx-target="#page" action="/{{ .Locale }}/gearboxes" method="get" hx-vals='{"Serial":"world"}'> -->
          <input 
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          placeholder="{{ translate "GENERAL.SERIAL" }}"
           type="text" name="Serial"/>
          <input
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          placeholder="{{ translate "GENERAL.TYPE" }}"
           type="text" name="Type"/>
          <input
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          placeholder="{{ translate "GENERAL.BACKLASH" }}"
           type="text" name="Backlash"/>
          <input
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          placeholder="{{ translate "GENERAL.HOUSING" }}"
           type="text" name="Housing"/>
          <input
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          placeholder="{{ translate "GENERAL.POLYGON" }}"
           type="text" name="Polygon"/>
          <input 
          class="flex h-10 text-sm shadow appearance-none border rounded w-full py-2 px-3 text-gray-700"
          placeholder="{{ translate "GENERAL.GEAR" }}"
           type="text" name="Gear"/>
          <button
          class="cursor-pointer border rounded-md text-sm font-medium group-invalid:pointer-events-none group-invalid:opacity-50 h-10 px-4 py-2"
           type="submit">{{ translate "GENERAL.FILTER" }}</button>
        </form>
      </div>
  {{ end }}
</div>
{{ end }}
